# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
.venv/
env/
ENV/

# Output submission packages (large artifacts)
submission.zip

# IDE & Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# data ViFinQA
ViFinQA
processed_data